.post {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
  background-color: burlywood;
  padding: 5%;
} 

.modal {
  position: absolute;
  top: 70%;
  left: 30%;
  width: 80%;
  height: 600px;
  z-index: 50;
}  